#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

// body {
//   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//   font-size: 14px;
//   margin: 0;
//   padding: 0;
// }

.swiper {
  width: 80%;
  height: 400px;
  margin: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.swiper-slide img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}